$base-font-size: 22px;

@mixin ph {
	@media (max-width: 700px) {
		@content
	}
}

body {
	font-family: "Roboto", sans-serif;
	font-family: "Ruda", sans-serif;
	font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
	background-color: rgba(36, 36, 39, 1);
	position: relative;

	@include ph {
		background-color: black;
	}
	
	
}
.container{
	position: relative;
max-width: 1240px;
width: 100%;
padding: 0 15px;
margin: 0 auto;
}



@import "block/*.scss";
