.header{
    position: relative;
    max-width: 992px;
    height: 726px;
width: 100%;
padding: 0 15px;
margin: 0 auto;
background-image: url(../../img/zxc.png);
background-size: contain;
}
.header_links{
   
}
.head_link1{
    position: absolute;
    width: 92px;
    height: 11px;
    top: 56px;
    left: 86px;
    font-family: "Abyssinica SIL", serif;
    font-weight: 400;
    font-size: 12.2px;
    line-height: 100%;
    letter-spacing: 0;
    color: #fff;
    text-decoration: none;
    padding-bottom: 3px;
    &:hover{
         border-bottom: 1px solid rgba(255, 255, 255, 0.5)
 
}
    
}


.head_link2{
    position: absolute;
    width: 70px;
    height: 11px;
    top: 56px;
    left: 231px;
    font-family: "Abyssinica SIL", serif;
    font-weight: 400;
    font-size: 12.2px;
    line-height: 100%;
    letter-spacing: 0;
    color: #fff;
    padding-bottom: 3px;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    &:hover{
        
       
    }

}
.head_link3{
    position: absolute;
    width: 49px;
    height: 11px;
    top: 56px;
    left: 356px;
    font-family: "Abyssinica SIL", serif;
    font-weight: 400;
    font-size: 12.2px;
    line-height: 100%;
    letter-spacing: 0;
    color: #fff;
    text-decoration: none;
    padding-bottom: 3px;
    &:hover{
         border-bottom: 1px solid rgba(255, 255, 255, 0.5)
 
}
    
}
.head_link4{
    position: absolute;
    width: 18px;
    height: 21px;
    top: 47px;
    left: 487px;
    font-family: "Lao MN", serif;
    font-weight: 400;
    font-size: 25.3px;
    line-height: 100%;
    letter-spacing: 0;
    color: #fff;
    text-decoration: none;
    padding-bottom: 3px;
    
    
}
.head_link5{
    position: absolute;
    width: 53px;
    height: 9px;
    top: 59px;
    left: 504px;
    font-family: "Lao MN", serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0;
    color: #fff;
    text-decoration: none;
    padding-bottom: 3px;
    
    
}

.head_link6{
    position: absolute;
    width: 49px;
    height: 11px;
    top: 57px;
    left: 643px;
    font-family: "Abyssinica SIL", serif;
    font-weight: 400;
    font-size: 12.1px;
    line-height: 100%;
    letter-spacing: 0;
    color: #fff;
    text-decoration: none;
    padding-bottom: 3px;
    &:hover{
         border-bottom: 1px solid rgba(255, 255, 255, 0.5)
 
}
    
}

.head_link7{
    position: absolute;
    width: 49px;
    height: 11px;
    top: 58px;
    left: 747px;
    font-family: "Abyssinica SIL", serif;
    font-weight: 400;
    font-size: 12.1px;
    line-height: 100%;
    letter-spacing: 0;
    color: #fff;
    text-decoration: none;
    padding-bottom: 3px;
    &:hover{
         border-bottom: 1px solid rgba(255, 255, 255, 0.5)
 
}
    
}

.head_link8{
    position: absolute;
    width: 39px;
    height: 11px;
    top: 58px;
    left: 847px;
    font-family: "Abyssinica SIL", serif;
    font-weight: 400;
    font-size: 12.1px;
    line-height: 100%;
    letter-spacing: 0;
    color: #fff;
    text-decoration: none;
    padding-bottom: 3px;
    text-decoration: none;
    
}