.main
{   position: relative;
    top: 1212px;
    left: 304px;
    display: block;
    height: 493px;
    width: 716px;
    
}
.img1{
    position: absolute;
    top: 2px;
    left: 9px;
    width: 310px;
    height: 224px;
}
.img2{
    position: absolute;
    top: 2px;
    left: 401px;
    width: 310px;
    height: 224px;
}
.img3{
    position: absolute;
    top: 266px;
    left: 9px;
    width: 310px;
    height: 224px;
}
.img4{
    position: absolute;
    top: 266px;
    left: 401px;
    width: 310px;
    height: 224px;
}