.contain{
    position: relative;
    display: block;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    height: 390px;
    max-width: 991px;
    background-color: rgb(227, 223, 223);
}
.contain h2{
    position: absolute;
    width: 155px;
height: 23px;
top: 30px;
left: 86px;
font-family: "Roboto",sans-serif;
font-weight: 700;
font-size: 21px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(1, 60, 211, 1);

}
.clock_lane_contain{
position: absolute;
    top: 115px;
    left: 0px;
    width: 1020px;
    height: 0.5px;
    background-color: rgba(0, 0, 0, .5);
}
.clock_lane_contain_outline1{
    position: absolute;
    top: 114px;
        left: 86px;
    width: 37px;

    height: 2px;
    background: rgba(208, 0, 0, 1)
}
.clock_lane_contain_outline2{
    position: absolute;
    top: 114px;
        left: 336px;
    width: 42px;

    height: 2px;
    background: rgba(208, 0, 0, 1)
}
.clock_lane_contain_outline3{
    position: absolute;
    top: 114px;
        left: 586px;
    width: 44px;

    height: 2px;
    background: rgba(208, 0, 0, 1)
}
.clock_lane_contain_outline4{
    position: absolute;
    top: 114px;
        left: 835px;
    width: 44px;

    height: 2px;
    background: rgba(208, 0, 0, 1)
}
.contain_elemnts_blocks{
    position: relative;
    display: flex;
    justify-content: space-between;
   width: 937px;
    height: 100px;
    left: 66px;
    top: 127px;
}
.O1{
   display: block;
    position: relative;
    width: 205px;
    height: 225px;
}
.O2{
   display: block;
    position: relative;
    width: 205px;
    height: 225px;
}
.O3{
   display: block;
    position: relative;
    width: 205px;
    height: 225px;
}
.O4{
   display: block;
    position: relative;
    width: 205px;
    height: 225px;
}
.O1 h3{
    position: absolute;
    width: 40px;
height: 35px;
top: -32px;
    left: 4px;
font-family: "Roboto",sans-serif;
font-weight: 700;
font-size: 38px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(208, 0, 0, 1);
}
.O2 h3{
    position: absolute;
    width: 45px;
height: 34px;
top: -26px;
    left: 10px;
font-family: "Roboto",sans-serif;
font-weight: 700;
font-size: 38px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(208, 0, 0, 1);


}
.O3 h3{
    position: absolute;
    width: 45px;
height: 34px;
top: -26px;
    left: 16px;
font-family: "Roboto",sans-serif;
font-weight: 700;
font-size: 38px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(208, 0, 0, 1);


}
.O4 h3{
    position: absolute;
    width: 45px;
height: 34px;
top: -26px;
    left: 22px;
font-family: "Roboto",sans-serif;
font-weight: 700;
font-size: 38px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(208, 0, 0, 1);


}
.O1_title_1{
    position: absolute;
    width: 152px;
height: 15px;
top: 46px;
left: 4px;
font-family: "Roboto",sans-serif;
font-weight: 700;
font-size: 14.1px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(0, 0, 0, 1);

}
.O1_title_2{
    position: absolute;
    width: 130px;
height: 15px;
top: 46px;
left: 10px;
font-family: "Roboto",sans-serif;
font-weight: 700;
font-size: 14.1px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(0, 0, 0, 1);

}
.O1_title_3{
    position: absolute;
    width: 118px;
height: 15px;
top: 43px;
left: 17px;
font-family: "Roboto",sans-serif;
font-weight: 700;
font-size: 14.1px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(0, 0, 0, 1);

}
.O1_title_4{
    position: absolute;
    width: 171px;
height: 15px;
top: 42px;
left: 23px;
font-family: "Roboto",sans-serif;
font-weight: 700;
font-size: 14.1px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(0, 0, 0, 1);

}
.O1_title_desc_1{
    position: absolute;
        width: 188px;
    height: 43px;
top: 79px;
left: 4px;
font-family: "Roboto",sans-serif;
font-weight: 400;
font-size: 13px;
line-height: 118%;
letter-spacing: 0%;

}
.O1_title_desc_1_link1{
    text-decoration: none;
    color: rgb(59, 59, 245);
}
.O1_title_desc_1_link2{
    text-decoration: none;
    color: rgb(59, 59, 245);
}
.O1_title_desc_2{
    position: absolute;
        width: 182px;
    height: 43px;
top: 78px;
left: 9px;
font-family: "Roboto",sans-serif;
font-weight: 400;
font-size: 13px;
line-height: 118%;
letter-spacing: 0%;

}
.O1_title_desc_1_link3{
    position: absolute;
    text-decoration: none;
    width: 113px;
height: 12px;
top: 152px;
left: 11px;
font-family: "Roboto",sans-serif;
font-weight: 400;
font-size: 13px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(3, 0, 156, 1);

}
.O1_title_desc_1_link4{
    position: absolute;
    width: 147px;
height: 28px;
top: 151px;
    left: 16px;
font-family: "Roboto",sans-serif;
font-weight: 400;
font-size: 13px;
line-height: 100%;
letter-spacing: 0%;
text-decoration: none;
color: rgba(3, 0, 156, 1);

}
.O1_title_desc_1_link5{
    position: absolute;
    width: 164px;
height: 13px;
top: 166px;
    left: 16px;
font-family: "Roboto",sans-serif;
font-weight: 400;
font-size: 12.8px;
line-height: 100%;
letter-spacing: 0%;
text-decoration: none;
border-bottom:1px dashed rgba(3, 0, 156, 1);
color:  rgba(3, 0, 156, 1);

padding-bottom: 2px;
}
.O1_title_desc_1_link6{
    position: absolute;
    width: 166px;
height: 13px;
top: 196px;
    left: 16px;
font-family: "Roboto",sans-serif;
font-weight: 400;
font-size: 12.8px;
line-height: 100%;
letter-spacing: 0%;
text-decoration: none;
border-bottom:1px dashed rgba(3, 0, 156, 1);
color:  rgba(3, 0, 156, 1);

padding-bottom: 3px;
}
.O1_title_desc_1_link7{
    position: absolute;
    width: 142px;
height: 13px;
top: 151px;
    left: 4px;
font-family: "Roboto",sans-serif;
font-weight: 400;
font-size: 12.8px;
line-height: 100%;
letter-spacing: 0%;
text-decoration: none;
border-bottom:1px dashed rgba(3, 0, 156, 1);
color:  rgba(3, 0, 156, 1);

padding-bottom: 3px;
}
.O1_title_desc_1_link8{
    position: absolute;
    width: 142px;
height: 13px;
top: 181px;
    left: 4px;
font-family: "Roboto",sans-serif;
font-weight: 400;
font-size: 12.8px;
line-height: 100%;
letter-spacing: 0%;
text-decoration: none;
border-bottom:1px dashed rgba(3, 0, 156, 1);
color:  rgba(3, 0, 156, 1);

padding-bottom: 3px;
}
.O1_title_desc_3{
    position: absolute;
    width: 185px;
height: 28px;
top: 78px;
left: 22px;
font-family: "Roboto",sans-serif;
font-weight: 400;
font-size: 13px;
line-height: 111%;
letter-spacing: 0%;

}
.O1_title_desc_1_link9{
    text-decoration: none;
    color:rgba(3, 0, 156, 1) ;
}

.O1_title_desc_1_link10{
    position: absolute;
   width: 121px;
    height: 25px;
    top: 151px;
    left: 22px;
font-family: "Roboto",sans-serif;
font-weight: 500;
font-size: 12.8px;
line-height: 112%;
letter-spacing: 0%;
text-decoration: none;
border-bottom:1px dashed rgba(3, 0, 156, 1);
color:  rgba(3, 0, 156, 1);

padding-bottom: 5px;
}
.O1_title_desc_1_link11{
    position: absolute;
    width: 125px;
height: 13px;
    top: 196px;
    left: 23px;
font-family: "Roboto",sans-serif;
font-weight: 500;
font-size: 12.8px;
line-height: 108%;
letter-spacing: 0%;
text-decoration: none;
border-bottom:1px dashed rgba(3, 0, 156, 1);
color:  rgba(3, 0, 156, 1);

padding-bottom: 3px;
}
.contain2{
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    height: 430px;
    max-width: 991px;
   background: rgba(233, 233, 233, 1);

}
.contain2_blcok1{
position: absolute;
    width: 128px;
    height: 153px;
    top: 65px;
    left: 84px;
    border-radius: 21px;
    background: #a60000;

}
.contain2_blcok2{
position: absolute;
    width: 128px;
    height: 153px;
    top: 65px;
    left: 231px;
    border-radius: 21px;
   background: rgba(213, 213, 213, 1);


}
.contain2_blcok3{
position: absolute;
    width: 128px;
    height: 153px;
    top: 65px;
    left: 377px;
    border-radius: 21px;
   background: rgba(213, 213, 213, 1);


}
.contain2_blcok4{
position: relative;
    width: 418px;
    height: 152px;
        top: 65px;
    left: 522px;
    border-radius: 21px;

}
.contain2_blcok5{
position: absolute;
    width: 418px;
    height: 152px;
    top: 233px;
    left: 85px;
    border-radius: 21px;

}
.contain2_blcok6{
position: absolute;
    width: 128px;
    height: 153px;
        top: 233px;
    left: 536px;
    border-radius: 21px;
   background: rgba(213, 213, 213, 1);


}
.contain2_blcok7{
position: absolute;
    width: 128px;
    height: 153px;
        top: 233px;
    left: 679px;
    border-radius: 21px;
   background: rgba(213, 213, 213, 1);


}
.contain2_blcok8{
position: absolute;
    width: 128px;
    height: 153px;
        top: 233px;
    left: 825px;
    border-radius: 21px;
   background: rgba(213, 213, 213, 1);


}
.contain2_h3{
 position: absolute;
    width: 259px;
    height: 23px;
    top: 7px;
    left: 86px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 21.2px;
    line-height: 100%;
    letter-spacing: 0;
    color: #013cd3;

}
.contain2_blcok1 img{
        margin: 0 auto;
    position: absolute;
    left: 12px;
    top: 10px;
    width: 29px;
    height: 29px;

}
.contain2_blcok2 img{
        margin: 0 auto;
    position: absolute;
    left: 12px;
    top: 10px;
    width: 29px;
    height: 29px;

}
.contain2_blcok3 img{
        margin: 0 auto;
    position: absolute;
    left: 13px;
    top: 10px;
    width: 29px;
    height: 29px;

}
.contain2_blcok6 img{
        margin: 0 auto;
    position: absolute;
    left: 13px;
    top: 10px;
    width: 29px;
    height: 29px;

}
.contain2_blcok7 img{
        margin: 0 auto;
    position: absolute;
    left: 18px;
    top: 10px;
    width: 29px;
    height: 29px;

}
.contain2_blcok8 img{
        margin: 0 auto;
    position: absolute;
    left: 22px;
    top: 10px;
    width: 29px;
    height: 29px;

}
.contain2_blcok1 h4{
position: absolute;
margin: 0 auto;
    width: 78px;
    height: 24px;
    top: 63px;
    left: 26px;
font-family: "Roboto",sans-serif;
font-weight: 900;
font-size: 26px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(255, 255, 255, 1);

}
.contain2_blcok2 h4{
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 24px;
  top: 63px;
    left: 48px;
font-family: "Roboto",sans-serif;
font-weight: 900;
font-size: 26px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(166, 0, 0, 1);

}
.contain2_blcok3 h4{
    position: absolute;
    margin: 0 auto;
    width: 32px;
    height: 24px;
  top: 63px;
    left: 48px;
font-family: "Roboto",sans-serif;
font-weight: 900;
font-size: 26px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(166, 0, 0, 1);
}
.contain2_blcok6 h4{
    position: absolute;
    margin: 0 auto;
    width: 45px;
    height: 24px;
  top: 63px;
    left: 40px;
font-family: "Roboto",sans-serif;
font-weight: 900;
font-size: 26px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(166, 0, 0, 1);
}
.contain2_blcok7 h4{
    position: absolute;
    margin: 0 auto;
    width: 93px;
    height: 24px;
  top: 63px;
    left: 25px;
font-family: "Roboto",sans-serif;
font-weight: 900;
font-size: 23px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(166, 0, 0, 1);
}
.contain2_blcok8 h4{
    position: absolute;
    margin: 0 auto;
    width: 105px;
    height: 24px;
  top: 63px;
    left: 12px;
font-family: "Roboto",sans-serif;
font-weight: 900;
font-size: 23px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(166, 0, 0, 1);
}
.contain2_blcok1 p {
position: absolute;
margin: 0 auto;
    width: 88px;
    height: 14px;
    top: 95px;
    left: 21px;
font-family: "Roboto",sans-serif;
font-weight: 300;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(255, 255, 255, 1);

}
.contain2_blcok2 p {
position: absolute;
margin: 0 auto;
    width: 88px;
    height: 14px;
       top: 96px;
    left: 25px;
font-family: "Roboto",sans-serif;
font-weight: 300;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(166, 0, 0, 1);
white-space: initial;

}
.contain2_blcok2 p:last-child {
position: absolute;
margin: 0 auto;
    width: 88px;
    height: 14px;
    top: 112px;
    left: 33px;
font-family: "Roboto",sans-serif;
font-weight: 300;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(166, 0, 0, 1);
white-space: initial;

}
.contain2_blcok3 p {
position: absolute;
margin: 0 auto;
    width: 88px;
    height: 14px;
       top: 96px;
    left: 21px;
font-family: "Roboto",sans-serif;
font-weight: 300;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(166, 0, 0, 1);
white-space: initial;

}
.contain2_blcok6 p {
position: absolute;
margin: 0 auto;
    width: 88px;
    height: 14px;
       top: 95px;
    left: 10px;
font-family: "Roboto",sans-serif;
font-weight: 300;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(166, 0, 0, 1);
white-space: initial;

}
.contain2_blcok7 p {
position: absolute;
margin: 0 auto;
    width: 88px;
    height: 14px;
       top: 95px;
    left: 29px;
font-family: "Roboto",sans-serif;
font-weight: 300;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(166, 0, 0, 1);
white-space: initial;

}
.contain2_blcok7 p:last-child {
position: absolute;
margin: 0 auto;
    width: 88px;
    height: 14px;
       top: 110px;
    left: 21px;
font-family: "Roboto",sans-serif;
font-weight: 300;
font-size: 14.3px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(166, 0, 0, 1);
white-space: initial;

}
.contain2_blcok8 p {
position: absolute;
margin: 0 auto;
    width: 88px;
    height: 14px;
       top: 95px;
    left: 28px;
font-family: "Roboto",sans-serif;
font-weight: 300;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(166, 0, 0, 1);
white-space: initial;

}
.contain3{
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    height: 668px;
    max-width: 991px;
   background: rgb(250, 249, 249);

}
.contain3 h3{
    position: absolute;
    width: 259px;
    height: 23px;
    top: 33px;
    left: 85px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 21.2px;
    line-height: 100%;
    letter-spacing: 0;
    color: #013cd3;
}
.contain3_blcok1{
position: absolute;
    width: 352px;
    height: 178px;
    top: 107px;
    left: 85px;
    border-radius: 7px;
    background: #e9e9e9;

}
.contain3_blcok2{
position: absolute;
    width: 352px;
    height: 178px;
    top: 107px;
    left: 535px;
    border-radius: 7px;
    background: #e9e9e9;

}
.contain3_blcok3{
position: absolute;
    width: 352px;
    height: 178px;
    top: 361px;
    left: 85px;
    border-radius: 7px;
    background: #e9e9e9;

}
.contain3_blcok4{
position: absolute;
    width: 352px;
    height: 178px;
    top: 361px;
    left: 535px;
    border-radius: 7px;
    background: #e9e9e9;

}
.contain3_block1_link1-1{
    margin: 0 auto;
    position: absolute;
    left: 30px;
    top: 17px;
    width: 29px;
    height: 29px;
}

.contain3_block1_link1-2{
    margin: 0 auto;
    position: absolute;
    left: 29px;
    top: 17px;
    width: 29px;
    height: 29px;
}
.contain3_block1_link1-3{
    margin: 0 auto;
    position: absolute;
    left: 29px;
    top: 17px;
    width: 29px;
    height: 29px;
}

.contain3_block1_link1-4{
    margin: 0 auto;
    position: absolute;
    left: 29px;
    top: 15px;
    width: 29px;
    height: 29px;
}
.contain3_blcok1 a{
        display: inline-block;
    position: absolute;
    width: 36px;
    height: 35px;
    left: 300px;
    top: 14px;
    border-radius: 50%;
    background-color: #a60000;
}
.contain3_blcok1 a img {
    width: 20px;
    position: absolute;
    left: 8px;
    top: 13px;
}

.contain3_blcok2 a{
        display: inline-block;
    position: absolute;
    width: 36px;
    height: 35px;
    left: 300px;
    top: 14px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);

}
.contain3_blcok2 a img {
    width: 20px;
    position: absolute;
    left: 8px;
    top: 13px;
}

.contain3_blcok3 a{
        display: inline-block;
    position: absolute;
    width: 36px;
    height: 35px;
    left: 300px;
    top: 14px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);

}
.contain3_blcok3 a img {
    width: 20px;
    position: absolute;
    left: 8px;
    top: 13px;
}
.contain3_blcok4 a{
        display: inline-block;
    position: absolute;
    width: 36px;
    height: 35px;
    left: 300px;
    top: 14px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);

}
.contain3_blcok4 a img {
    width: 20px;
    position: absolute;
    left: 8px;
    top: 13px;
}

.contain3_blcok1 p{
    position: absolute;
       width: 129px;
    height: 24px;
top: 27px;
    left: 30px;
font-family: "Roboto",sans-serif;
font-weight: 700;
font-size: 21.2px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(3, 0, 156, 1);


}
.contain3_blcok2 p{
    position: absolute;
       width: 129px;
    height: 24px;
top: 27px;
    left: 30px;
font-family: "Roboto",sans-serif;
font-weight: 700;
font-size: 21.2px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(3, 0, 156, 1);


}
.contain3_blcok3 p{
    position: absolute;
       width: 129px;
    height: 24px;
top: 27px;
    left: 30px;
font-family: "Roboto",sans-serif;
font-weight: 700;
font-size: 21.2px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(3, 0, 156, 1);


}
.contain3_blcok4 p{
    position: absolute;
       width: 202px;
    height: 24px;
top: 27px;
    left: 30px;
font-family: "Roboto",sans-serif;
font-weight: 700;
font-size: 21.2px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(3, 0, 156, 1);


}
.contain3_blcok1 p:nth-child(4){
position: absolute;
    width: 214px;
    height: 78px;
    top: 69px;
    left: 30px;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10.7px;
    line-height: 120%;
    letter-spacing: 0;

}
.contain3_blcok2 p:nth-child(4){
position: absolute;
    width: 214px;
    height: 78px;
    top: 69px;
    left: 30px;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10.7px;
    line-height: 120%;
    letter-spacing: 0;

}
.contain3_blcok3 p:nth-child(4){
position: absolute;
    width: 214px;
    height: 78px;
    top: 69px;
    left: 30px;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10.7px;
    line-height: 120%;
    letter-spacing: 0;

}
.contain3_blcok4 p:nth-child(4){
position: absolute;
    width: 214px;
    height: 78px;
    top: 69px;
    left: 30px;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10.7px;
    line-height: 120%;
    letter-spacing: 0;

}
.contain4{
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    height: 516px;
    max-width: 991px;
   background: rgba(233, 233, 233, 1);

}
.contain4 h3{
    position: absolute;
    width: 259px;
    height: 23px;
        top: 27px;
    left: 115px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 21.2px;
    line-height: 100%;
    letter-spacing: 0;
    color: #013cd3;
}
.contain4_block1_first_news{
    display: block;
    position: absolute;
        width: 157px;
    height: 36px;
    top: 96px;
    left: 114px;
background: rgba(3, 0, 156, 0.06);

}
.contain4_block1_first_news p{
    position: absolute;
    margin: 0 auto;
    width: 110px;
    height: 14px;
    top: 10px;
    left: 6px;
    font-family: "Roboto";
font-weight: 500;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(3, 0, 156, 1);

}
.FilterMail{
     display: block;
    position: absolute;
    margin: 0 auto;
    width: 24px;
    height: 23px;
    top: 7px;
    left: 125px;

}
.contain4_block1_allnews p {
    position: absolute;
    margin: 0 auto;
    width: 141px;
height: 15px;
top: 107px;
    left: 314px;
font-family: "Roboto",sans-serif;
font-weight: 500;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(166, 0, 0, 1);

}
.image_block_4 img{
    position: absolute;
    width: 352px;
    height: 177px;
    top: 157px;
    left: 114px;
    border-radius: 10px;

}
.newss p {
    position: absolute;
    margin:0 auto;
    width: 49px;
    height: 11px;
    top: 349px;
    left: 115px;
font-family: "Roboto",sans-serif;
font-weight: 500;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(166, 0, 0, 1);

}
.newss p:nth-child(2){
    position: absolute;
    margin: 0 auto;
    width: 362px;
    height: 72px;
    top: 375px;
    left: 115px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10.6px;
    line-height: 118%;
    letter-spacing: 0px;
    color: #000;
}
.switch_block_1{
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    top: 452px;
    left: 111px;
    background: rgba(166, 0, 0, 1);
    border-radius:50% ;
}
.switch_block_2{
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    top: 452px;
    left: 137px;
    background: rgba(166, 0, 0, 1);
    border-radius:50% ;
    background: rgba(255, 255, 255, 1);

}
.switch_block_3{
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    top: 452px;
    left: 161px;
    background: rgba(166, 0, 0, 1);
    border-radius:50% ;
    background: rgba(255, 255, 255, 1);

}
.switch_block_4{
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    top: 452px;
    left: 186px;
    background: rgba(166, 0, 0, 1);
    border-radius:50% ;
    background: rgba(255, 255, 255, 1);

}
.contain4_blcok1{
    
}
.contain4_blcok1 a{
    
display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 211px;
    top: 439px;
    border-radius: 50%;
        background: #fff;
}
.contain4_blcok1 a img{
        width: 14px;
    position: absolute;
    left: 7px;
    top: 12px;
}
.contain4_blcok2 a{
    
display: inline-block;
    position: absolute;
    width: 29px;
    height: 29px;
    left: 255px;
    top: 440px;
    border-radius: 50%;
        background: #fff;
}
.contain4_blcok2 a img{
          width: 16px;
    position: absolute;
    left: 7px;
    top: 11px;
}
.inner_block_cont4{
    display: grid;
     grid-template-columns: 1fr 1fr; 
     grid-template-rows: 1fr 1fr; 
    position: relative;
    width: 443px;
    height: 196px;
    top: 155px;
    left: 525px;
}
.inner_block_cont4_1 h4{
    position: absolute;
    width: 49px;
    height: 11px;

top: -12px;
left: 6px;
font-family: "Roboto";
font-weight: 500;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(166, 0, 0, 1);

}

.inner_block_cont4_2 h4{
    position: relative;
    width: 49px;
    height: 11px;
;
top: -12px;
left: 19px;
font-family: "Roboto";
font-weight: 500;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(166, 0, 0, 1);

}
.inner_block_cont4_4 h4{
    position: relative;
    width: 49px;
    height: 11px;

top: -16px;
left: 6px;
font-family: "Roboto";
font-weight: 500;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(166, 0, 0, 1);

}
.inner_block_cont4_5 h4{
    position: relative;
    width: 49px;
    height: 11px;

top: -16px;
left: 19px;
font-family: "Roboto";
font-weight: 500;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(166, 0, 0, 1);

}
.inner_block_cont4_1 p{
    position: relative;
        width: 84px;
    height: 13px;
    top: -8px;
    left: 76px;
font-family: "Roboto";
font-weight: 500;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(0, 0, 0, 0.5);

}
.inner_block_cont4_2 p{
    position: relative;
        width: 84px;
    height: 13px;
    top: -39px;
    left: 90px;
font-family: "Roboto";
font-weight: 500;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(0, 0, 0, 0.5);

}
.inner_block_cont4_4 p{
    position: relative;
        width: 84px;
    height: 13px;
    top: -42px;
    left: 76px;
font-family: "Roboto";
font-weight: 500;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(0, 0, 0, 0.5);

}
.inner_block_cont4_5 p{
    position: relative;
        width: 84px;
    height: 13px;
    top: -67px;
    left: 90px;
font-family: "Roboto";
font-weight: 500;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(0, 0, 0, 0.5);

}
.line_1{
position: absolute;
    width: 437px;
    top: 230.5px;
    left: 543px;
    border-width: 1px;
    border-bottom: 2px solid rgba(0, 0, 0, .6);
}